.centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.tela-cheia {
    height: 100%;
}

.loading {
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
}

.loading .wrapper {
    display: inherit;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background-azul {
    background-color: #539eed!important;
}

.espacamento-icone {
    margin-right: 10px;
}

.loading-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}